@model demo2_mp.Models.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/Content/css/admin/create.css" rel="stylesheet" />


@*<h2 style="font-size: 20px; color: #603838;text-align:center "> Thêm mới  </h2>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4 style="text-align: center; font-size: 30px; color: #603838;">Thêm mới loại sản phẩm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div style="font-size: 20px; color: #603838;padding:5px;width:400px ">
            Loại sản phẩm
            <div>
                @Html.EditorFor(model => model.NameCate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameCate, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div>
            <div>
                <input style="font-size: 20px; color: #603838; " type="submit" value="Thêm" />
            </div>
        </div>
    </div>
}
<br />

<button style="background-color: antiquewhite;   font-size: 20px;  cursor: pointer;color:#4f3232 ">
    @Html.ActionLink("Quay lại", "Index")
</button>

<style>
    /* Loại bỏ đường gạch chân từ liên kết */
    a {
        text-decoration: none;
        color: inherit;
    }
</style>




