<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/user/menu.css" rel="stylesheet" />
    <!-- font tieu de  -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;0,900;1,200&display=swap" rel="stylesheet">
    <script src="~/Content/font/all.js"></script>
    <link href="~/Content/font/all.css" rel="stylesheet" />

    <style>
        #container-head #logo-name a {
            text-decoration: none;
           
        }
    </style>

</head>
<body>
    <div id="main">
        <div id="header">
            <nav id="container-head">
                <div id="logo-name">
                    <a href="~/Home/Index"><h1>EverLove</h1></a>
                </div>

                <ul id="main-menu">
                    <li><a href="~/Home/Index">Trang chủ</a></li>
                    <li><a href="~/Home/About">Về chúng tôi</a></li>
                    <li><a href="~/Products/ProductList">Sản phẩm</a></li>
                    <li><a href="~/Home/IndexAdmin">Trang Admin</a></li>

                </ul>


            </nav>
            <div class="icon-header">
                <a href="@Url.Action("Login","Login") " style="margin:0 10px; text-decoration:none">
                    <i class="fa-solid fa-user" style="color: #fff;"></i>
                    <span style="color: #fff;font-size:16px;">
                        @*@if (Session["ID"] == null)
                        {
                            <span>Đăng nhập</span>
                        }*@
                        @Session["UserName"]
                    </span>
                </a>
                <a href="@Url.Action("Logout","Login")" style=" margin: 0 10px; text-decoration: none">
                    <i class="fa-solid fa-right-from-bracket" style="color: #fff;"></i>
                    <span style="color: #fff; font-size: 14px;"></span>
                </a>

            </div>
        </div>
        <div id="content">
            @RenderBody()
        </div>

        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4>THÔNG TIN LIÊN HỆ</h4>
                        <ul>
                            <li>Hotline: 0944117312 (8:00-21:00)</li>
                            <li>- Hợp tác kinh doanh hàng hóa: everlovesales@gmail.com</li>

                            <li>- Hợp tác truyền thông/ Quảng cáo: everlovemarketing@gmail.com</li>
                            <li>- Hợp tác cho thuê mặt bằng: everloveleasing@gmail.com</li>
                            <li>- Tuyển dụng: everlovetuyendung@gmail.com</li>


                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>ĐỊA CHỈ</h4>
                        <ul>
                            <li>Hệ thống cửa hàng TP.HCM</li>
                            <li>
                                <b>Quận 5</b>
                                <br />
                                49 Phó Cơ Điều P12
                            </li>

                            <li>
                                <b>Quận 10</b>
                                <br />
                                139 Bà Hạt P9
                            </li>
                            <li>
                                <b>Quận 1</b>
                                <br />
                                225 Lê Lợi P1
                            </li>
                            <li>
                                <b>Quận 11</b>
                                <br />
                                37 Lê Đại Hành P5
                            </li>
                            <li>
                                <b>Quận 1</b>
                                <br />
                                77 Bùi Thị Xuân phường Phạm Ngũ Lão
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>DANH MỤC</h4>
                        <ul>
                            <li><a href="~/Home/Trangchu">Trang Chủ</a></li>
                            <li><a href="~/Home/Gioithieu">Về Chúng Tôi</a></li>
                            <li><a href="~/Products/ProductList">Cửa Hàng</a></li>

                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>KẾT NỐI VỚI CHÚNG TÔI</h4>
                        <div class="sns-list">

                            <a href=""><i class="fa-brands fa-facebook"></i></a>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                            <a href=""><i class="fa-brands fa-youtube"></i></a>
                            <a href=""><i class="fa-brands fa-tiktok"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p class="copyright">Copyright &copy; by Ai Linh - Kim Ngan</p>
            </div>
        </div>


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
    