@model demo2_mp.Models.User

@{
    //ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


@*<link href="~/Content/css/user/login.css" rel="stylesheet" />*@

<div class="body-login">
    <div class="container-login" id="container" style="position: absolute">
        <div class="form-container sign-in-container">
            @using (Html.BeginForm("LoginAcount", "Login"))
            {
                @Html.AntiForgeryToken()

                <form action="#">
                    <h1>Đăng Nhập</h1>
                    <br />
                    @Html.TextBoxFor(model => model.NameUser, new { style = "filed-validation-error", placeholder = "Username" })
                    @Html.ValidationMessageFor(model => model.NameUser)

                    <p>@Html.PasswordFor(model => model.PasswordUser, new { placeholder = "Password" })</p>
                    @Html.ValidationMessageFor(model => model.PasswordUser)
                    @if (ViewBag.ErrorInfo != null)
                    {
                        <p>@ViewBag.ErrorInfo</p>
                    }
                    <br />

                    @*<a href="#">Forgot your password?</a>*@
                    <button style="background-color: #9f8772">Đăng nhập</button>
                    <br />
                    <div class="text">
                        <span><i>Bạn mới biết đến EverLove? </i></span>
                        <a href="@Url.Action("Register", "Login")">Đăng ký ngay</a>
                    </div>

                </form>
            }
        </div>
    </div>

</div>



<style>


.body-login {
    background: #fff8f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 80vh;
    z-index: 1;
}


button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

    button:active {
        transform: scale(0.95);
    }

    button:focus {
        outline: none;
    }

    button.ghost {
        background-color: transparent;
        border-color: #FFFFFF;
    }

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 270px;
}

.container-login {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 500px;
    max-width: 100%;
    min-height: 400px;
    z-index: 1;
}

.form-container {
/*    position: absolute;
*/    top: 0;
    height: 100%;
    margin-top: 60px;
}

.sign-in-container {
    z-index: 1;
}


    .text a {
        color: black;
        text-decoration: none;
    }

        .text a:hover {
                    color: black;
            text-decoration: underline;
        }
</style>